// - Font size (Overview Card Headings): 14px
@import 'variables';

html {
    font-size: 10px;

    @media (min-width: $desktop-sm) {
        font-size: 12px;
    }
}

body {
    position: relative;
    font-family: 'Inter', sans-serif;
}

.wrapper {
    min-height: 100vh;
    padding: 12% 6%;
    transition: 0.5s;

    @media (min-width: $desktop-sm) {
        padding: 5% 10%;
    }

    @media (min-width: $desktop-xl) {
        padding: 3% 12%;
    }
}

.grid-container {
    display: grid;
}

